@model AlbumsWebAppMVC.Models.PhotoAlbumViewModel
@{
    ViewBag.Title = "Photos";
}

<div class="container">
    <div style="display:flex; flex-direction:column; align-items:flex-end">
        <h1 style="align-self: flex-start">@Model.Name</h1>
        <p>Creado por: @Model.Author</p>
        <p>@Model.CreationDate</p>
    </div>

    <div class="row">
        @foreach (var photo in Model.Photos)
        {
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img class="img-rounded" src="@photo.Value">
                </div>
            </div>
        }
    </div>
</div>