
@{
    ViewBag.Title = "Photos";
}

<div class="container">
    <div class="jumbotron">
        <h1>Nombre del álbum</h1>
        <p>Autor: </p>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <img src="https://source.unsplash.com/cPF2nlWcMY4">
            </div>
        </div>
    </div>
</div>