
@{
    ViewBag.Title = "Álbums";
}

<script src="~/Scripts/javascript/albums.js" type="text/javascript"></script>

<h2>@ViewBag.Title</h2>

<form id="myForm">
    <label for="albums">Elige tu álbum favorito:</label>
    @Html.DropDownList("albums", (IEnumerable<SelectListItem>)ViewBag.albums)
    <input type="button" value="Visualizar álbum" onclick="showAlbumPhotos()">
</form>